@font-face {
  font-family: "iconfont"; /* Project id 3364500 */
  src: url('iconfont.woff2?t=1651108915906') format('woff2'),
       url('iconfont.woff?t=1651108915906') format('woff'),
       url('iconfont.ttf?t=1651108915906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e640";
}

.icon-sun:before {
  content: "\e6d2";
}

.icon-github:before {
  content: "\e6b7";
}

